@import "tailwindcss";

.diagonal-btn {
  padding: 12px 32px;
  font-size: 16px;
  color: white;
  background:
    linear-gradient(#111, #111) padding-box,
    linear-gradient(
        135deg,
        #00f 0%,
        rgba(0, 0, 255, 0.6) 40%,
        rgba(0, 0, 255, 0.2) 70%,
        transparent 100%
      )
      border-box;

  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}
